{% extends  "cars/base.html" %}

{% block content %}
<h1>{{title}}</h1>

<form method="post">
      {% csrf_token %}  <!-- Для защиты Форм от csrf атака(защита от дублирвании формы) -->
      {% for f in form %}
<p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
<!-- Перебераем все поля формы и формируем эти поля и его ошибки-->
<div class="form-error">{{ f.errors }}</div>
      {% endfor %}
      <button type="submit">Регистрация</button>
</form>
{% endblock content %}